// About Vision & Mission Section
.about-vision-mission {
    width: 100%;
    padding: vw(60) vw(100) vw(120) vw(100);
    background: $color-bg-primary;

    &__container {
        width: 100%;
        display: flex;
        gap: vw(70);
        align-items: flex-start;
    }

    &__vision,
    &__mission {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: vw(35);
    }

    &__mission {
        padding-top: vw(200);
    }

    &__title-image {
        width: auto;
        height: vw(86);

        img {
            height: 100%;
            width: auto;
        }
    }

    &__content {
        background: $color-white;
        padding: vw(40) vw(40) vw(40) vw(50);
        box-shadow: inset vw(8) 0 0 0 $color-brand-primary;
        display: flex;
        flex-direction: column;
        gap: vw(10);

        p {
            font-family: $font-secondary;
            font-weight: 500;
            font-size: vw(20);
            line-height: 1.7;
            color: $color-text-primary;
            margin: 0;
        }
    }

    &__image {
        flex-shrink: 0;
        width: vw(377);
        height: vw(685);
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // Tablet
    @media (max-width: 1024px) {
        padding: vw(50, 1024) vw(60, 1024) vw(80, 1024);

        &__container {
            flex-direction: column;
            gap: vw(50, 1024);
        }

        &__vision,
        &__mission {
            width: 100%;
            gap: vw(25, 1024);
        }

        &__mission {
            padding-top: 0;
        }

        &__title-image {
            height: vw(60, 1024);
        }

        &__content {
            padding: vw(30, 1024);
            box-shadow: inset vw(6, 1024) 0 0 0 $color-brand-primary;

            p {
                font-size: vw(18, 1024);
            }
        }

        &__image {
            width: 100%;
            height: vw(400, 1024);
            order: -1;
        }
    }

    // Mobile
    @media (max-width: 414px) {
        padding: vw(40, 414) vw(20, 414) vw(60, 414);

        &__container {
            gap: vw(30, 414);
        }

        &__vision,
        &__mission {
            gap: vw(20, 414);
        }

        &__title-image {
            height: vw(50, 414);
        }

        &__content {
            padding: vw(20, 414);
            box-shadow: inset vw(4, 414) 0 0 0 $color-brand-primary;

            p {
                font-size: vw(14, 414);
            }
        }

        &__image {
            height: vw(300, 414);
        }
    }
}

