// About Values Section
.about-values {
    width: 100%;
    padding: vw(40) 0 vw(100) 0;
    background: $color-bg-primary;
    overflow: hidden;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: vw(70);
        align-items: center;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: vw(35);
        align-items: center;
        text-align: center;
        width: 100%;
    }

    &__label {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: vw(18);
        line-height: 1.5;
        color: $color-brand-primary;
        margin: 0;
    }

    &__title {
        font-family: $font-primary;
        font-size: vw(58);
        line-height: 1.2;
       
        margin: 0;
    }

    &__intro {
        font-family: $font-secondary;
        font-weight: 500;
        font-size: vw(20);
        line-height: 1.7;
        color: $color-text-primary;
        width: vw(1232);
        text-align: center;

        p {
            margin: 0 0 vw(10) 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-weight: 600;
        }
    }

    &__graphic {
        width: vw(1579);
        height: vw(621);
        position: relative;
        margin: 0 auto;
    }

    &__graphic-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        min-width: vw(540);
        object-fit: contain;
    }

    &__items {
        position: absolute;
        left: 50%;
        top: vw(26);
        transform: translateX(-50%);
        width: vw(1436);
        height: vw(490);
        overflow: visible;
    }

    &__item {
        position: absolute;
        font-family: $font-primary;
        font-size: vw(44);
        line-height: 1.3;
        color: $color-brand-primary;
        white-space: nowrap;
        background: linear-gradient(90deg, #F4EAD7 0%, #FFFFFF 100%);
        height: vw(100);
        display: flex;
        align-items: center;
        padding: 0 vw(40);

        &--right {
            background: linear-gradient(270deg, #F4EAD7 0%, #FFFFFF 100%);
            justify-content: flex-start;
        }

        &--left {
            justify-content: flex-end;
        }

        // Passion - Top Left
        &--1 {
            left: vw(140);
            top: vw(26);
            width: vw(466);
        }

        // Resolution - Middle Left
        &--2 {
            left: vw(70);
            top: vw(195);
            width: vw(466);
        }

        // Commitment - Bottom Left
        &--3 {
            left: 0;
            top: vw(364);
            width: vw(466);
        }

        // Trust - Top Right
        &--4 {
            right: vw(94);
            top: vw(26);
            width: vw(466);
        }

        // Dedication - Middle Right
        &--5 {
            right: vw(24);
            top: vw(195);
            width: vw(466);
        }

        // Strength - Bottom Right
        &--6 {
            right: 0;
            top: vw(364);
            width: vw(466);
        }
    }

    &__footer {
        font-family: $font-secondary;
        font-weight: 500;
        font-size: vw(20);
        line-height: 1.7;
        color: $color-text-primary;
        width: vw(1232);
        text-align: center;
        margin: 0;

        strong {
            font-weight: 700;
        }
    }

    // Tablet
    @media (max-width: 1024px) {
        padding: vw(30, 1024) vw(40, 1024) vw(80, 1024);

        &__container {
            gap: vw(50, 1024);
        }

        &__header {
            gap: vw(25, 1024);
        }

        &__label {
            font-size: vw(16, 1024);
        }

        &__title {
            font-size: vw(42, 1024);
        }

        &__intro {
            font-size: vw(18, 1024);
            width: 90%;
        }

        &__graphic {
            width: 100%;
            height: vw(500, 1024);
        }

        &__graphic-image {
            width: vw(400, 1024);
        }

        &__items {
            width: vw(1100, 1024);
            height: vw(400, 1024);
            top: vw(20, 1024);
            overflow: visible;
        }

        &__item {
            font-size: vw(28, 1024);
            height: vw(70, 1024);
            padding: 0 vw(20, 1024);

            &--1 {
                left: vw(80, 1024);
                top: vw(20, 1024);
                width: vw(320, 1024);
            }

            &--2 {
                left: vw(40, 1024);
                top: vw(150, 1024);
                width: vw(320, 1024);
            }

            &--3 {
                left: 0;
                top: vw(280, 1024);
                width: vw(320, 1024);
            }

            &--4 {
                right: vw(60, 1024);
                top: vw(20, 1024);
                width: vw(320, 1024);
            }

            &--5 {
                right: vw(20, 1024);
                top: vw(150, 1024);
                width: vw(320, 1024);
            }

            &--6 {
                right: 0;
                top: vw(280, 1024);
                width: vw(320, 1024);
            }
        }

        &__footer {
            font-size: vw(18, 1024);
            width: 90%;
        }
    }

    // Mobile
    @media (max-width: 414px) {
        padding: vw(30, 414) vw(20, 414) vw(60, 414);

        &__container {
            gap: vw(40, 414);
        }

        &__header {
            gap: vw(20, 414);
        }

        &__label {
            font-size: vw(14, 414);
        }

        &__title {
            font-size: vw(24, 414);
            padding: 0 vw(10, 414);
        }

        &__intro {
            font-size: vw(14, 414);
            width: 100%;
            p{
                br{
                    display: none !important;
                }
            }
        }

        &__graphic {
            height: vw(600, 414);
        }

        &__graphic-image {
            width: vw(200, 414);
        }

        &__items {
            width: vw(380, 414);
            height: vw(500, 414);
            top: vw(30, 414);
            overflow: visible;
        }

        &__item {
            font-size: vw(16, 414);
            height: vw(50, 414);
            padding: 0 vw(15, 414);

            &--1 {
                left: vw(20, 414);
                top: vw(30, 414);
                width: vw(180, 414);
            }

            &--2 {
                left: vw(10, 414);
                top: vw(150, 414);
                width: vw(180, 414);
            }

            &--3 {
                left: 0;
                top: vw(270, 414);
                width: vw(180, 414);
            }

            &--4 {
                right: vw(10, 414);
                top: vw(90, 414);
                width: vw(180, 414);
            }

            &--5 {
                right: 0;
                top: vw(210, 414);
                width: vw(180, 414);
            }

            &--6 {
                right: vw(5, 414);
                top: vw(330, 414);
                width: vw(180, 414);
            }
        }

        &__footer {
            font-size: vw(14, 414);
            width: 100%;
        }
    }
}

