// Career Assurance Section
.career-assurance {
  position: relative;
  width: 100%;
  background-color: $color-bg-primary;
  padding: vw(50) 0;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: vw(777);
    height: vw(328);
    background-image: url('../images/career/background-pattern.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0.3;
    pointer-events: none;
  }

  &__container {
    position: relative;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 vw(100);
  }

  &__content {
    display: flex;
    gap: vw(70);
    align-items: flex-start;
  }

  &__title {
    font-family: $font-primary;
    font-size: vw(36);
    line-height: 1.5;
    color: $color-text-primary;
    font-weight: $font-weight-regular;
    margin: 0;
    flex: 0 0 auto;
    max-width: vw(706);
  }

  &__text {
    font-family: $font-secondary;
    font-size: vw(20);
    line-height: 1.7;
    color: $color-text-primary;
    font-weight: $font-weight-medium;
    margin: 0;
    flex: 1;
    max-width: vw(915);
  }

  // Tablet styles
  @media (max-width: 1024px) {
    padding: vw(40, 1024) 0;

    &__container {
      padding: 0 vw(60, 1024);
    }

    &__content {
      flex-direction: column;
      gap: vw(30, 1024);
    }

    &__title {
      font-size: vw(30, 1024);
      max-width: 100%;
    }

    &__text {
      font-size: vw(18, 1024);
      max-width: 100%;
    }
  }

  // Mobile styles
  @media (max-width: 768px) {
    padding: vw(30, 414) 0;

    &__container {
      padding: 0 vw(20, 414);
    }

    &__content {
      gap: vw(25, 414);
    }

    &__title {
      font-size: vw(24, 414);
    }

    &__text {
      font-size: vw(16, 414);
    }
  }
}

