// ===========================================
// LANDING PAGE - VALUES SECTION
// ===========================================

.landing-values {
  width: 100%;
  background-color: $color-bg-primary;
  padding: vw(100) vw(10);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__container {
    position: relative;
    width: 100%;
    max-width: vw(100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(70);
    overflow: hidden;
  }

  // Header section
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: vw(45);
    width: 100%;
    max-width: vw(943);
  }

  &__label {
    font-family: $font-secondary;
    font-size: vw(18);
    font-weight: 600;
    color: $color-brand-primary;
    line-height: 1.5;
  }

  &__title {
    font-family: $font-primary;
    font-size: vw(58);
    line-height: 1.2;
    color: $color-brand-black;
    font-weight: 325;
    margin: 0;
  
  }

  // Central graphic
  &__graphic {
    position: relative;
    width: vw(711.625);
    height: vw(812);
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // Values items container
  &__items {
    position: relative;
    width: 100%;
    height: 0;
    top:vw(123);
  }

  // Individual value item
  &__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: vw(15);
    color: $color-brand-black;
    white-space: pre-wrap;

    // Left side values
    &--left {
      text-align: right;

      .landing-values__item-description {
        margin-left: auto;
      }
    }

    // Right side values
    &--right {
      text-align: left;

      .landing-values__item-description {
        margin-right: auto;
      }
    }

    // Position for each value (desktop)
    &--1 {
      top: vw(-984);
      left: vw(364);
      width: vw(468);
    }

    &--2 {
      top: vw(-805);
      left: vw(293);
      width: vw(442);
    }

    &--3 {
      top: vw(-626);
      left: vw(178);
      width: vw(491);
    }

    &--4 {
      top: vw(-984);
      right: vw(257);
      width: vw(598);
    }

    &--5 {
      top: vw(-806);
      right: vw(182);
      width: vw(564);
    }

    &--6 {
      top: vw(-628);
      right: vw(107);
      width: vw(508);
    }
  }

  &__item-title {
    font-family: $font-primary;
    font-size: vw(44);
    line-height: 1.3;
    font-weight: 325;
    margin: 0;
  }

  &__item-description {
    font-family: $font-secondary;
    font-size: vw(20);
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
  }

  // Responsive
  @include respond-to('laptop') {
    padding: vw(80) vw(10);

    &__container {
      gap: vw(50);
    }

    &__title {
      font-size: vw(48);
    }

    &__graphic {
      width: vw(600);
      height: vw(684);
    }

    &__item {
      &--1 {
        top: vw(-828);
        left: vw(260);
        width: vw(380);
      }

      &--2 {
        top: vw(-678);
        left: vw(200);
        width: vw(360);
      }

      &--3 {
        top: vw(-528);
        left: vw(120);
        width: vw(400);
      }

      &--4 {
        top: vw(-828);
        right: vw(160);
        width: vw(480);
      }

      &--5 {
        top: vw(-678);
        right: vw(100);
        width: vw(460);
      }

      &--6 {
        top: vw(-528);
        right: vw(40);
        width: vw(420);
      }
    }

    &__item-title {
      font-size: vw(36);
    }

    &__item-description {
      font-size: vw(18);
    }
  }

  @include respond-to('tablet') {
    padding: vw(60) vw(10);

    &__header {
      gap: vw(30);
    }

    &__title {
      font-size: vw(38);
    }

    &__graphic {
      width: vw(400);
      height: vw(456);
    }

    &__item {
      &--1,
      &--2,
      &--3 {
        left: vw(40);
        width: vw(280);
      }

      &--1 {
        top: vw(-552);
      }

      &--2 {
        top: vw(-452);
      }

      &--3 {
        top: vw(-352);
      }

      &--4,
      &--5,
      &--6 {
        right: vw(40);
        width: vw(280);
      }

      &--4 {
        top: vw(-552);
      }

      &--5 {
        top: vw(-452);
      }

      &--6 {
        top: vw(-352);
      }
    }

    &__item-title {
      font-size: vw(28);
    }

    &__item-description {
      font-size: vw(16);
    }
  }

  @include respond-to('mobile') {
    padding: vw(40, 414) vw(10, 414);

    &__container {
      gap: vw(30, 414);
    }

    &__label {
      font-size: vw(16, 414);
    }

    &__title {
      font-size: vw(28, 414);
    }

    &__graphic {
      width: vw(280, 414);
      height: vw(320, 414);
    }

    &__items {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: vw(30, 414);
      margin-top: vw(30, 414);
      height: auto;
      padding: 0 vw(16, 414);
    }

    &__item {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      width: 100% !important;
      text-align: center !important;

      .landing-values__item-description {
        margin: 0 auto !important;
        max-width: 100%;
      }
    }

    &__item-title {
      font-size: vw(24, 414);
    }

    &__item-description {
      font-size: vw(14, 414);
    }
  }
}


