// ===========================================
// LANDING PAGE - NRI DESK SECTION
// ===========================================

.landing-nri {
  position: relative;
  width: 100%;
  min-height: 978px;
  background-color: $color-bg-primary;
  display: flex;
  align-items: center;
  

  // Background image
  &__image {
    position: absolute;
    top: -126px;
    left: 610px;
    width: 1310px;
    height: 1104px;
    overflow: hidden;
    z-index: 4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Main content container
  &__content {
    position: absolute;
    left: 69px;
    top: 64px;
    width: 836px;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  // Info section
  &__info {
    background-color: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  // Header
  &__header {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
    max-width: 690.5px;
  }

  &__label {
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: 600;
    color: $color-brand-primary;
    line-height: 1.5;
  }

  &__title {
    font-family: $font-primary;
    font-size: 72px;
    line-height: 1.2;
    color: $color-brand-black;
    font-weight: 325;
    margin: 0;
  }

  // Description container
  &__description-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 740px;
  }

  &__description {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: $color-brand-black;
    white-space: pre-wrap;
    margin: 0;
  }

  // Features section
  &__features {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__feature-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__feature-text {
    font-family: $font-primary;
    font-size: 24px;
    line-height: 1.3;
    color: $color-text-body;
    font-weight: 325;
    margin: 0;
  }

  // Accent line
  &__accent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    background-color: $color-brand-primary;
    z-index: 3;
  }

  // Responsive
  @include respond-to('laptop') {
    min-height: 850px;

    &__image {
      top: -100px;
      left: 500px;
      width: 1100px;
      height: 900px;
    }

    &__content {
      left: 50px;
      width: 700px;
    }

    &__title {
      font-size: 58px;
    }

    &__description {
      font-size: 18px;
    }

    &__feature-text {
      font-size: 20px;
    }
  }

  @include respond-to('tablet') {
    min-height: 700px;
    flex-direction: column;
    align-items: flex-start;

    &__image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
    }

    &__content {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      padding: 40px;
    }

    &__info {
      padding: 0;
    }

    &__header {
      gap: 30px;
    }

    &__title {
      font-size: 48px;
    }

    &__description {
      font-size: 16px;
    }

    &__features {
      padding: 0;
      padding-top: 30px;
    }

    &__feature-text {
      font-size: 18px;
    }
  }

  @include respond-to('mobile') {
    min-height: 790px;

    &__image {
      height: 327.83px;
    }

    &__content {
      padding: 16px;
    }

    &__header {
      gap: 20px;
    }

    &__label {
      font-size: 16px;
      text-align: center;
    }

    &__title {
      font-size: 32px;
      text-align: center;
    }

    &__description-container {
      gap: 25px;
    }

    &__description {
      font-size: 14px;
      text-align: center;
    }

    &__features {
      gap: 12px;
    }

    &__feature {
      gap: 12px;
    }

    &__feature-icon {
      width: 20px;
      height: 20px;
    }

    &__feature-text {
      font-size: 14px;
    }

    &__accent {
      height: 18px;
    }
  }
}


.landing-nri__description-container .btn {
  width: 430px;
}