// ===========================================
// LANDING PAGE - NRI DESK SECTION
// ===========================================

.landing-nri {
  position: relative;
  width: 100%;
  min-height: vw(978);
  background-color: $color-bg-primary;
  display: flex;
  align-items: center;
  

  // Background image
  &__image {
    position: absolute;
    top: vw(-126);
    left: vw(610);
    width: vw(1310);
    height: vw(1104);
    overflow: hidden;
    z-index: 4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Main content container
  &__content {
    position: absolute;
    left: vw(69);
    top: vw(64);
    width: vw(836);
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  // Info section
  &__info {
    background-color: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: vw(50);
  }

  // Header
  &__header {
    display: flex;
    flex-direction: column;
    gap: vw(45);
    width: 100%;
    max-width: vw(690.5);
  }

  &__label {
    font-family: $font-secondary;
    font-size: vw(18);
    font-weight: 600;
    color: $color-brand-primary;
    line-height: 1.5;
  }

  &__title {
    font-family: $font-primary;
    font-size: vw(72);
    line-height: 1.2;
    color: $color-brand-black;
    font-weight: 325;
    margin: 0;
  }

  // Description container
  &__description-container {
    display: flex;
    flex-direction: column;
    gap: vw(35);
    width: 100%;
    max-width: vw(740);
  }

  &__description {
    font-family: $font-secondary;
    font-size: vw(20);
    font-weight: 500;
    line-height: 1.5;
    color: $color-brand-black;
    white-space: pre-wrap;
    margin: 0;
  }

  // Features section
  &__features {
    padding: vw(30);
    display: flex;
    flex-direction: column;
    gap: vw(19);
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: vw(20);
  }

  &__feature-icon {
    width: vw(40);
    height: vw(40);
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__feature-text {
    font-family: $font-primary;
    font-size: vw(24);
    line-height: 1.3;
    color: $color-text-body;
    font-weight: 325;
    margin: 0;
  }

  // Accent line
  &__accent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: vw(23);
    background-color: $color-brand-primary;
    z-index: 3;
  }

  // Responsive
  @include respond-to('laptop') {
    min-height: vw(850);

    &__image {
      top: vw(-100);
      left: vw(500);
      width: vw(1100);
      height: vw(900);
    }

    &__content {
      left: vw(50);
      width: vw(700);
    }

    &__title {
      font-size: vw(58);
    }

    &__description {
      font-size: vw(18);
    }

    &__feature-text {
      font-size: vw(20);
    }
  }

  @include respond-to('tablet') {
    min-height: vw(700);
    flex-direction: column;
    align-items: flex-start;

    &__image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: vw(400);
    }

    &__content {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      padding: vw(40);
    }

    &__info {
      padding: 0;
    }

    &__header {
      gap: vw(30);
    }

    &__title {
      font-size: vw(48);
    }

    &__description {
      font-size: vw(16);
    }

    &__features {
      padding: 0;
      padding-top: vw(30);
    }

    &__feature-text {
      font-size: vw(18);
    }
  }

  @include respond-to('mobile') {
    min-height: vw(790, 414);

    &__image {
      height: vw(327.83, 414);
    }

    &__content {
      padding: vw(16, 414);
    }

    &__header {
      gap: vw(20, 414);
    }

    &__label {
      font-size: vw(16, 414);
      text-align: center;
    }

    &__title {
      font-size: vw(32, 414);
      text-align: center;
    }

    &__description-container {
      gap: vw(25, 414);
    }

    &__description {
      font-size: vw(14, 414);
      text-align: center;
    }

    &__features {
      gap: vw(12, 414);
    }

    &__feature {
      gap: vw(12, 414);
    }

    &__feature-icon {
      width: vw(20, 414);
      height: vw(20, 414);
    }

    &__feature-text {
      font-size: vw(14, 414);
    }

    &__accent {
      height: vw(18);
    }
  }
}


.landing-nri__description-container .btn {
  width: vw(376);
  font-size: vw(22);
}