// Resources Content Section
.resources-content {
  position: relative;
  width: 100%;
  background-color: $color-bg-primary;

  &__tab {
    display: none;
    width: 100%;

    &--active {
      display: block;
    }
  }
}


