// ===========================================
// VALUES SECTION
// ===========================================

.values {
  background-color: $color-bg-primary;
  @include flex-column-center;
  gap: $spacing-4xl;
  padding: 40px 0 $spacing-5xl;
  overflow: hidden;

  @include respond-to('desktop') {
    gap: $spacing-2xl;
    padding: 40px 0 80px;
  }

  @include respond-to('tablet') {
    gap: 40px;
    padding: $spacing-lg 0 $spacing-2xl;
  }
}

.values__header {
  @include flex-column-center;
  gap: $spacing-xl;
  text-align: center;
  width: 100%;
  max-width: 1232px;
  padding: 0 $container-padding-desktop;

  @include respond-to('desktop') {
    padding: 0 $container-padding-tablet;
  }

  @include respond-to('tablet') {
    gap: 25px;
    padding: 0 $container-padding-mobile;
  }
}

.values__label {
  @include heading-secondary;
  font-size: $font-size-small;
  color: $color-brand-primary;

  @include respond-to('tablet') {
    font-size: 16px;
  }
}

.values__title {
  @include heading-primary;
  font-size: $font-size-h2;
  line-height: $line-height-tight;
  color: $color-brand-black;

  @include respond-to('desktop') {
    font-size: 52px;
  }

  @include respond-to('laptop') {
    font-size: 46px;
  }

  @include respond-to('tablet') {
    font-size: 36px;
  }

  @include respond-to('mobile') {
    font-size: 28px;
  }
}

.values__description {
  @include body-paragraph;
  font-size: $font-size-body;
  color: $color-text-primary;

  @include respond-to('laptop') {
    font-size: 18px;
  }

  @include respond-to('tablet') {
    font-size: 16px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }
}

.values__description--bold {
  font-weight: $font-weight-semibold;
}

.values__grid {
  position: relative;
  width: 100%;
  max-width: 1579px;
  height: 621px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing-3xl;
  margin: 0 auto;

  @include respond-to('laptop') {
    max-width: 1200px;
    height: 500px;
  }

  @include respond-to('tablet') {
    height: 400px;
    padding: 0 $container-padding-mobile;
  }

  @include respond-to('mobile') {
    height: 350px;
  }
}

.values__decoration {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 611.64px;
  z-index: 0;

  @include respond-to('laptop') {
    width: 400px;
    height: auto;
  }

  @include respond-to('tablet') {
    width: 300px;
  }

  @include respond-to('mobile') {
    width: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.values__items {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 69px 656px;
  width: 100%;
  max-width: 1436px;
  z-index: 1;

  @include respond-to('laptop') {
    gap: 50px 400px;
    max-width: 1100px;
  }

  @include respond-to('tablet') {
    gap: 30px 200px;
    max-width: 100%;
  }

  @include respond-to('mobile') {
    gap: 25px 100px;
  }
}

.values__item {
  @include flex-center;
  background-color: $color-bg-white;
  height: 100px;
  width: 466px;
  max-width: 100%;
  position: relative;

  @include respond-to('laptop') {
    height: 80px;
    width: 350px;
  }

  @include respond-to('tablet') {
    height: 60px;
    width: 250px;
  }

  @include respond-to('mobile') {
    height: 50px;
    width: 180px;
  }

  &:nth-child(1) {
    margin-left: 140px;

    @include respond-to('laptop') {
      margin-left: 100px;
    }

    @include respond-to('tablet') {
      margin-left: 50px;
    }

    @include respond-to('mobile') {
      margin-left: 20px;
    }
  }

  &:nth-child(2) {
    margin-left: 70px;

    @include respond-to('laptop') {
      margin-left: 50px;
    }

    @include respond-to('tablet') {
      margin-left: 30px;
    }

    @include respond-to('mobile') {
      margin-left: 10px;
    }
  }

  &:nth-child(4) {
    margin-right: 140px;

    @include respond-to('laptop') {
      margin-right: 100px;
    }

    @include respond-to('tablet') {
      margin-right: 50px;
    }

    @include respond-to('mobile') {
      margin-right: 20px;
    }
  }

  &:nth-child(5) {
    margin-right: 70px;

    @include respond-to('laptop') {
      margin-right: 50px;
    }

    @include respond-to('tablet') {
      margin-right: 30px;
    }

    @include respond-to('mobile') {
      margin-right: 10px;
    }
  }

  &:nth-child(6) {
    margin-right: 0;
  }
}

.values__text {
  @include heading-primary;
  font-size: $font-size-h5;
  line-height: $line-height-normal;
  color: $color-brand-primary;
  text-align: center;

  @include respond-to('laptop') {
    font-size: 26px;
  }

  @include respond-to('tablet') {
    font-size: 20px;
  }

  @include respond-to('mobile') {
    font-size: 16px;
  }
}

.values__footer {
  @include body-paragraph;
  font-size: $font-size-body;
  color: $color-text-primary;
  text-align: center;
  width: 1232px;
  max-width: 100%;
  padding: 0 $container-padding-desktop;

  @include respond-to('desktop') {
    padding: 0 $container-padding-tablet;
  }

  @include respond-to('laptop') {
    font-size: 18px;
  }

  @include respond-to('tablet') {
    font-size: 16px;
    padding: 0 $container-padding-mobile;
  }
}

