.landing-banner {
    &__svg-placeholder {
        min-height: 200px;
        background: rgba(0, 0, 0, 0.2);
        border: 2px dashed #666;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

