// ===========================================
// MAIN STYLESHEET - Ashtech Presidential Towers
// ===========================================

// Base
@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';


// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/navbar';
@import 'components/buttons';
@import 'components/cards';

@import 'components/landing-animations';


@import 'sections/landing-banner';
@import 'sections/landing-overview';
@import 'sections/landing-values';
@import 'sections/landing-projects';
@import 'sections/landing-nri';
@import 'sections/landing-awards';
@import 'sections/landing-testimonials';
@import 'sections/landing-footer';


html {
    overflow-x: hidden;
}