// Import frontend styles
@import './style.scss';

// Editor specific overrides
.editor-styles-wrapper {
    .header {
        // Header is fixed, but in editor we want it relative
        position: relative;
        left: 0;
        transform: none;
        margin: 0 auto;
        
        // Menu shouldn't be clickable in editor
        .header__menu {
            cursor: default;
            pointer-events: none;
        }
    }
}

