// ===========================================
// LANDING PAGE - AWARDS SECTION
// ===========================================

.landing-awards {
  width: 100%;
  background-color: $color-bg-primary;
  padding: vw(80) vw(99);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: vw(1721);
    display: flex;
    flex-direction: column;
    gap: vw(80);
    align-items: center;
  }

  // Header section
  &__header {
    display: flex;
    flex-direction: column;
    gap: vw(50);
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__label {
    font-family: $font-secondary;
    font-size: vw(18);
    font-weight: 600;
    color: $color-brand-primary;
    line-height: 1.5;
    padding: vw(15) 0;
  }

  &__title {
    font-family: $font-primary;
    font-size: vw(58);
    line-height: 0;
    color: $color-brand-black;
    font-weight: 325;
    margin: 0;
    width: 100%;
    max-width: vw(1722);
   
  }

  &__description {
    font-family: $font-secondary;
    font-size: VW(20);
    font-weight: 500;
    line-height: 1.5;
    color: $color-brand-black;
    width: 100%;
    max-width: vw(921);
    white-space: pre-wrap;
    margin: 0;
  }

  // Awards grid
  &__grid {
    display: flex;
    gap: vw(80);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  // Individual award item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vw(20);
  }

  &__item-images {
    position: relative;
    width: vw(281.683);
    height: vw(144.415);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__laurel {
    width: vw(80.855);
    height: vw(144.243);
    object-fit: contain;

    &--left {
      position: absolute;
      left: 0;
      top: 0;
    }

    &--right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__item-text {
    font-family: $font-primary;
    font-size: vw(24);
    line-height: 1.3;
    color: $color-brand-primary;
    text-align: center;
    font-weight: 325;
    width: vw(200);
    white-space: pre-wrap;
    margin: 0;
    position: absolute;
  }

  // Responsive
  @include respond-to('laptop') {
    padding: vw(100) vw(60);

    &__container {
      gap: vw(80);
    }

    &__title {
      font-size: vw(48);
    }

    &__description {
      font-size: vw(18);
    }

    &__grid {
      gap: vw(60);
    }

    &__item-text {
      font-size: vw(20);
    }
  }

  @include respond-to('tablet') {
    padding: vw(80) vw(40);

    &__container {
      gap: vw(60);
    }

    &__header {
      gap: vw(40);
    }

    &__title {
      font-size: vw(38);
    }

    &__description {
      font-size: vw(16);
    }

    &__grid {
      gap: vw(40);
    }

    &__item-images {
      width: vw(220);
      height: vw(110);
    }

    &__laurel {
      width: vw(60);
      height: vw(110);
    }

    &__item-text {
      font-size: vw(18);
      width: vw(160);
    }
  }

  @include respond-to('mobile') {
    padding: vw(50, 414) vw(16, 414);

    &__container {
      gap: vw(40, 414);
    }

    &__header {
      gap: vw(30, 414);
      max-width: 100%;
    }

    &__label {
      font-size: vw(16, 414);
    }

    &__title {
      font-size: vw(28, 414);
    }

    &__description {
      font-size: vw(14, 414);
      max-width: 100%;
    }

    &__grid {
      gap: vw(20, 414);
      flex-direction: row;
    }

    &__item-images {
      width: vw(167, 414);
      height: vw(90, 414);
    }

    &__laurel {
      width: vw(50, 414);
      height: vw(90, 414);
    }

    &__item-text {
      font-size: vw(16, 414);
      width: vw(140, 414);
    }
  }
}


