.privacy-policy {
    padding: vw(100) 0;
    background-color: #FFFFFF;

    &__container {
        max-width: vw(1200);
        margin: 0 auto;
        padding: 0 vw(60);
    }

    &__updated {
        font-family: $font-secondary;
        font-size: vw(16);
        color: #666666;
        margin-bottom: vw(30);
        font-style: italic;
    }

    &__intro {
        margin-bottom: vw(60);

        p {
            font-family: $font-secondary;
            font-size: vw(18);
            line-height: 1.6;
            color: #333333;
            margin-bottom: vw(20);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__section {
        margin-bottom: vw(60);

        &:last-child {
            margin-bottom: 0;
        }

        p {
            font-family: $font-secondary;
            font-size: vw(16);
            line-height: 1.8;
            color: #333333;
            margin-bottom: vw(20);

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $color-brand-primary;
                text-decoration: underline;
                transition: color 0.3s ease;

                &:hover {
                    color: darken($color-brand-primary, 10%);
                }
            }
        }
    }

    &__heading {
        font-family: $font-primary;
        font-size: vw(48);
        font-weight: 600;
        line-height: 1.2;
        color: $color-brand-primary;
        margin-bottom: vw(30);
    }

    &__subheading {
        font-family: $font-primary;
        font-size: vw(32);
        font-weight: 600;
        line-height: 1.3;
        color: #2C2C2C;
        margin: vw(40) 0 vw(20) 0;

        &:first-child {
            margin-top: 0;
        }

        &-small {
            font-family: $font-secondary;
            font-size: vw(24);
            font-weight: 600;
            line-height: 1.4;
            color: #2C2C2C;
            margin: vw(30) 0 vw(15) 0;
        }
    }

    &__list {
        list-style: disc;
        margin-left: vw(30);
        margin-bottom: vw(20);

        li {
            font-family: $font-secondary;
            font-size: vw(16);
            line-height: 1.8;
            color: #333333;
            margin-bottom: vw(15);
            padding-left: vw(10);

            &:last-child {
                margin-bottom: 0;
            }

            strong {
                font-weight: 600;
                color: #2C2C2C;
            }

            a {
                color: $color-brand-primary;
                text-decoration: underline;
                transition: color 0.3s ease;

                &:hover {
                    color: darken($color-brand-primary, 10%);
                }
            }
        }

        &--contact {
            list-style: none;
            margin-left: 0;

            li {
                padding-left: 0;

                a {
                    font-weight: 500;
                }
            }
        }
    }

    // Tablet Styles
    @media (max-width: 1024px) {
        padding: vw(80, 1024) 0;

        &__container {
            max-width: vw(900, 1024);
            padding: 0 vw(40, 1024);
        }

        &__updated {
            font-size: vw(14, 1024);
            margin-bottom: vw(25, 1024);
        }

        &__intro {
            margin-bottom: vw(50, 1024);

            p {
                font-size: vw(16, 1024);
                margin-bottom: vw(18, 1024);
            }
        }

        &__section {
            margin-bottom: vw(50, 1024);

            p {
                font-size: vw(15, 1024);
                margin-bottom: vw(18, 1024);
            }
        }

        &__heading {
            font-size: vw(40, 1024);
            margin-bottom: vw(25, 1024);
        }

        &__subheading {
            font-size: vw(28, 1024);
            margin: vw(35, 1024) 0 vw(18, 1024) 0;

            &-small {
                font-size: vw(20, 1024);
                margin: vw(25, 1024) 0 vw(12, 1024) 0;
            }
        }

        &__list {
            margin-left: vw(25, 1024);
            margin-bottom: vw(18, 1024);

            li {
                font-size: vw(15, 1024);
                margin-bottom: vw(12, 1024);
                padding-left: vw(8, 1024);
            }
        }
    }

    // Mobile Styles
    @media (max-width: 414px) {
        padding: vw(60, 414) 0;

        &__container {
            max-width: 100%;
            padding: 0 vw(20, 414);
        }

        &__updated {
            font-size: vw(12, 414);
            margin-bottom: vw(20, 414);
        }

        &__intro {
            margin-bottom: vw(40, 414);

            p {
                font-size: vw(14, 414);
                margin-bottom: vw(15, 414);
            }
        }

        &__section {
            margin-bottom: vw(40, 414);

            p {
                font-size: vw(14, 414);
                margin-bottom: vw(15, 414);
            }
        }

        &__heading {
            font-size: vw(32, 414);
            margin-bottom: vw(20, 414);
        }

        &__subheading {
            font-size: vw(24, 414);
            margin: vw(30, 414) 0 vw(15, 414) 0;

            &-small {
                font-size: vw(18, 414);
                margin: vw(20, 414) 0 vw(10, 414) 0;
            }
        }

        &__list {
            margin-left: vw(20, 414);
            margin-bottom: vw(15, 414);

            li {
                font-size: vw(14, 414);
                margin-bottom: vw(10, 414);
                padding-left: vw(5, 414);
            }
        }
    }
}

